<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding> 
  <h1 *ngIf="admin">welcome Admin</h1>
  <h1 *ngIf="admin == false">welcome user</h1>
  <ion-icon name="create" (click)="logOut()"></ion-icon>
  <button ion-button (click)="clickModal()" right-end>click!</button>
 <ion-list *ngFor="let data of response ; let i=index">
    <ion-item>
      <ion-avatar item-start >
        <img src="{{data.image}}">
      </ion-avatar>
      <h2>{{data.name}}</h2>
      <h3>{{data.place}}</h3>
    </ion-item>
<button ion-button (click)="clickHere(i)">Share</button>
  </ion-list>

  <!-- <button (click)="clickHere()">asda</button> -->
</ion-content>
